.sidebar {
	display: flex;
	flex-direction: column;
	border-radius: 0.5em;
	background-color: var(--background-color-secondary-light);
	margin-bottom: 1rem;
	padding: 1rem 1rem 0 1rem;
	max-width: 16rem;
	box-shadow: var(--box-shadow);

	&.using-context {
		transition: all 0.5s ease;
		width: 16rem;
	}

	&.closed {
		padding: 0;
		max-width: 0;
		overflow: hidden;
		transition: all 0.5s ease;
	}
}

.sidebar-toggle {
	all: unset;
	height: 1rem;
	width: 1rem;
	cursor: pointer;
	margin-left: auto;
	padding: 0.5rem;
}
